local data = {
{
levels=1,
 steps=50,
 ball_4=5,
 ball_8=4,
 ball_16=3,
 ball_32=2,
},
{
 levels=2,
 steps=100,
 ball_2=40,
 ball_4=10,
 ball_8=10,
 ball_16=5,
 ball_32=4,
 ball_64=3,
 ball_128=2, 
 ball_256=1,
 ball_512=1,
 ball_1024=1,
 ball_2048=1,
 ball_4096=1
},
{
 levels=3,
 steps=100,
 ball_2=40,
 ball_4=10,
 ball_8=10,
 ball_16=5,
 ball_32=4,
 ball_64=3,
 ball_128=2, 
 ball_256=1,
 ball_512=1,
 ball_1024=1,
 ball_2048=1,
 ball_4096=1
},
{
 levels=4,
 steps=100,
 ball_2=40,
 ball_4=10,
 ball_8=10,
 ball_16=5,
 ball_32=4,
 ball_64=3,
 ball_128=2, 
 ball_256=1,
 ball_512=1,
 ball_1024=1,
 ball_2048=1,
 ball_4096=1
}
}
do local gameData = data
return gameData
end